body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #121212;
    /* Dark background color */
    color: #ffffff;
    /* Light text color */
}

.page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.heading {
    text-align: center;
    margin-bottom: 20px;
}

.logo {
    width: 100px;
    height: auto;
}

.routes {
    margin-top: 30px;
}

.routes>div {
    margin-bottom: 20px;
}

.routes h2 {
    margin-bottom: 10px;
}

.route {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px rgb(51, 50, 50);
    background-color: #333;
    /* Darker background color */
}

.route p {
    margin: 5px 0;
    color: #ffffff;
    /* Light text color */
}

.route strong {
    color: #ffcc00;
    /* Highlight color */
}

.route .parameters {
    color: #b3b3b3;
    /* Lighter text color */
    font-weight: 600;
}

.code {
    font-weight: 500;
}

.route-content {
    display: flex;
    justify-content: space-between;
}

.route-info {
    flex: 1;
}

.route-info p {
    margin: 5px 0;
    color: #ffffff;
    /* Light text color */
}

.route-info strong {
    color: #02094b;
}

.route-info .parameters {
    color: #000000;
    font-weight: 600;
}

.route-info .code {
    font-weight: 500;
}

.path {
    font-size: large;
    cursor: copy;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 2px 10px;
    position: relative;
}

.path:hover::after {
    content: "📄";
    position: absolute;
    top: -10;
    right: -10;

}

tr:hover {
    scale: 1.01;
}

td {
    padding-right: 10px;
    padding-block: 5px;
}

.clipboard-alert {
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #28a745;
    color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: Arial, sans-serif;
    transition: opacity 0.3s ease;
    opacity: .5;
}